* @signalfx/gdi-java-maintainers @signalfx/gdi-java-approvers

CODEOWNERS @signalfx/gdi-java-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md @signalfx/docs
*.rst @signalfx/docs
docs/ @signalfx/docs
README* @signalfx/docs @signalfx/gdi-specification-approvers @signalfx/gdi-specification-maintainers
