services:
  collector:
    image: "otel/opentelemetry-collector-contrib@sha256:004ecfe36ed8d3a5785adb8740024cdba1c546b3ae357a9db7a3e7b05c3bd160"
    volumes:
      - ./collector.yaml:/etc/demo-collector.yaml
    entrypoint: ["/otelcol-contrib"]
    command: ["--config", "/etc/demo-collector.yaml"]
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
  jaeger:
    image: "jaegertracing/all-in-one:1.76.0@sha256:968b31672178df2ea7bf6e43e63e3bd93c3f95e8fc7b826ef8a07a73caa36b64"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - COLLECTOR_OTLP_HTTP_HOST_PORT=0.0.0.0:4318
    ports:
      - "16686:16686" # UI