name: Build

on:
  push:
    branches:
      - main
      - release/*
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: "build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up JDK for running Gradle
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 21
      - name: touch local props
        run: touch demo-app/local.properties
      - name: run gradle check
        run: ./gradlew check -x detekt detektDebug detektDebugUnitTest detektDebugAndroidTest
      - name: create test coverage report
        run: ./gradlew koverXmlReport
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/reports/kover/report.xml
          slug: open-telemetry/opentelemetry-android

      - name: build demo app
        working-directory: ./demo-app
        run: ./gradlew check assemble
      - name: publish snapshot
        run: ./gradlew publishToSonatype
        env:
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_KEY: ${{ secrets.SONATYPE_KEY }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}

  markdown-link-check:
    # release branches are excluded to avoid unnecessary maintenance
    if: ${{ !startsWith(github.ref_name, 'release/') }}
    uses: ./.github/workflows/reusable-link-check.yml

  workflow-notification:
    permissions: # required by the reusable workflow
      contents: read
      issues: write
    needs:
      - build
    if: failure() && github.run_attempt == 1
    uses: ./.github/workflows/reusable-workflow-notification.yml
    with:
      success: ${{ needs.build.result == 'success' }}

  required-status-check:
    permissions:
      contents: read
      issues: write
    needs:
      - build
    runs-on: ubuntu-latest
    if: always()
    steps:
      - if: |
          needs.build.result != 'success'
        run: exit 1
