name: Draft CHANGELOG entries for a release

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  create_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Run changelog draft script
        run: ./.github/scripts/draft-change-log-entries.sh
