name: PR build

on: pull_request

permissions:
  contents: read

jobs:
  pr-checks:
    name: "pr-checks"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up JDK for running Gradle
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle build action
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2
      - name: touch local props
        run: touch demo-app/local.properties
      - name: run gradle
        run: ./gradlew check -x detekt detektDebug detektDebugUnitTest detektDebugAndroidTest koverXmlReport --stacktrace
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/reports/kover/report.xml
          slug: open-telemetry/opentelemetry-android
      - name: build demo app
        working-directory: ./demo-app
        run: ./gradlew assembleRelease --stacktrace

  required-status-check:
    needs:
      - pr-checks
    runs-on: ubuntu-latest
    if: always()
    steps:
      - if: |
          needs.pr-checks.result != 'success'
        run: exit 1