---
name: Release

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write # for creating the release
    name: "release"
    runs-on: ubuntu-latest
    steps:
      - run: |
          if [[ $GITHUB_REF_NAME != release/* ]]; then
            echo This workflow can only be run against release branches
            exit 1
          fi
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set environment variables
        run: |
          version=$(.github/scripts/get-version.sh)
          version_json=$(.github/scripts/parse-version.sh "$version")
          patch=$(echo "$version_json" | jq -r '.patch')
          
          # Getting prior version to create release notes
          prior_version=$(".github/scripts/get-prior-version.sh" "$version")
  
          # otel instrumentation version comes in through alpha bom
          inst_version=$(./gradlew --console=plain android-agent:dependencies | \
                        grep 'io.opentelemetry.instrumentation:opentelemetry-instrumentation-api ' | \
                        sed -e "s/.* -> //" | sed -e "s/ .*//" | grep '^\d' | \
                        sort | head -1)
          # otel-java core libs are transient deps thru instrumentation boms
          sdk_version=$(./gradlew --console=plain android-agent:dependencies | \
                        grep 'io.opentelemetry:opentelemetry-api ' | \
                        sed -e "s/.* -> //" | sed -e "s/ .*//" | \
                        sort | head -1)
          
          echo "VERSION=$version" >> $GITHUB_ENV
          echo "VERSION_PATCH=$patch" >> $GITHUB_ENV
          echo "PRIOR_VERSION=$prior_version" >> $GITHUB_ENV
          echo "INST_VERSION=$inst_version" >> $GITHUB_ENV
          echo "OTEL_SDK_VERSION=$sdk_version" >> $GITHUB_ENV

        # check out main branch to verify there won't be problems with merging the change log
        # at the end of this workflow
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: main

      - name: Check that change log update was merged to main
        run: |
          if [[ $VERSION_PATCH == 0 ]]; then
            # not making a patch release
            if ! grep --quiet "^## Version $VERSION " CHANGELOG.md; then
              echo the pull request generated by prepare-release-branch.yml needs to be merged first
              exit 1
            fi
          fi

      # back to the release branch
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          # tags are needed for the generate-release-contributors.sh script
          fetch-depth: 0

      - name: Set up JDK for running Gradle
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: 21

      - name: Build and publish artifacts
        run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository -Pfinal=true --no-build-cache --no-configuration-cache --no-parallel
        env:
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_KEY: ${{ secrets.SONATYPE_KEY }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}

      - name: Generate release notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          .github/scripts/generate-release-notes.sh "$VERSION" "$PRIOR_VERSION" "$INST_VERSION" "$OTEL_SDK_VERSION"

      - id: create-github-release
        name: Create GitHub release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create --target $GITHUB_REF_NAME \
                            --title "Version $VERSION" \
                            --notes-file /tmp/release-notes.txt \
                            v$VERSION
